@model int

<div class="row">
    <div class="col">
        <button type="submit" class="btn btn-primary form-control" asp-route-id="@Model">Update</button> @*MODEL RAZOR STATEMENT*@
    </div>
    <div class="col">
        <button asp-action="Index" class="btn btn-success form-control">Back to List</button>
    </div>
</div>